.landing-page-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

section {
  padding: 40px 20px;
  margin-bottom: 20px;
}

.hero-section {
  text-align: center;
  padding: 20px 0; /* Adjusted padding as mat-toolbar has its own padding */
}

.hero-section mat-toolbar {
  margin-bottom: 20px;
}

.hero-section p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.features-section .feature, .pricing-section .pricing-tier {
  margin-bottom: 20px;
}

.pricing-section ul {
  list-style: none;
  padding: 0;
}

.pricing-section ul li {
  margin-bottom: 5px;
}

.contact-us-section form {
  display: flex;
  flex-direction: column;
}

.contact-us-section mat-form-field {
  width: 100%;
  margin-bottom: 10px;
}
